.mycontainer {
    &:not(.sign_in_mode) {
        .panel {
            &.left_panel {
                img,
                .content {
                    transform: translateX(0%);
                }
            }
            &.right_panel {
                z-index: -9;
                img,
                .content {
                    transform: translateX(800px);
                }
            }
        }
        .form_container {
            z-index: 15;
        }
    }
    &.sign_in_mode {
        &::before {
            transform: translate(100%, -50%);
            right: 52%;
        }
        .panel {
            &.left_panel {
                pointer-events: none;
                img,
                .content {
                    transform: translateX(-100%);
                }
            }
            &.right_panel {
                pointer-events: all;
                img,
                .content {
                    transform: translateX(0%);
                }
            }
        }
        .form_container {
            top: 20%;
            left: 30%;
        }
    }
}

@media (max-width: 870px) {
    .mycontainer {
        &.sign_in_mode {
            &:before {
                transform: translate(-50%, 100%);
                bottom: 32%;
                right: initial;
            }
            .panel {
                &.left_panel {
                    img,
                    .content {
                        transform: translateY(-300px);
                    }
                }
                &.right_panel {
                    img,
                    .content {
                        transform: translateY(0px);
                    }
                }
            }
            .form_container {
                top: 5%;
                transform: translate(-115%, 0%) !important;
                form {
                    width: 100%;
                    margin: 2px;
                }
            }
        }
    }
}

@media (max-width: 570px) {
    .mycontainer {
        &.sign_in_mode {
            &:before {
                bottom: 28%;
                left: 50%;
            }
            .form_container {
                top: 10% !important;
                transform: translate(-100%, 0%) !important;
            }
        }
    }
}