@import './colors';
// Font
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: $grey $lightgrey;
    &::-webkit-scrollbar {
        width: 12px;
    }
    &::-webkit-scrollbar-track {
        background: $lightgrey;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $grey;
        border-radius: 20px;
        border: 3px solid $lightgrey;
    }
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

.btn {
    min-width: 150px;
    // background-color: #5995fd;
    border: 1px solid $green;
    outline: none;
    height: 49px;
    border-radius: 8px;
    color: $lightgrey;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
        background-color: $green;
        color: $white;
    }
    &.transparent {
        margin: 0;
        background: none;
        border: 2px solid $white;
        width: 130px;
        height: 41px;
        font-weight: 600;
        font-size: 12px;
    }
}

.panels_container {
    position: fixed;
    height: 100%;
    max-width: 50%;
    top: 0;
    left: 0;
    z-index: 5;
    h3 {
        font-weight: 600;
        line-height: 1;
        font-size: 1.5rem;
    }
    p {
        width: 70%;
        margin: 5px auto;
        font-size: 0.95rem;
        padding: 0.7rem 0;
    }
    .content {
        color: $white;
        transition: transform 0.9s ease-in-out;
        transition-delay: 0.6s;
    }
    .panel {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        text-align: center;
        &.left_panel {
            padding: 3rem 17% 2rem 12%;
            img {
                width: 300px;
                height: auto;
                margin-bottom: 30px;
            }
        }
        &.right_panel {
            // padding: 10% 12% 0 17%;
            padding: 10% 0% 0% 0%;
            // margin-top: 8%;
            position: relative;
            height: 100%;
            img {
                position: absolute;
                bottom: 0%;
                left: 17%;
                width: 70%;
                height: auto;
                margin-bottom: 10px;
            }
        }
        &.left_panel,
        &.right_panel {
            transition: all 0.9s ease-in-out;
            transition-delay: 0.9s;
        }
    }
}

.app_container {
    max-width: 100%;
    // min-height: 100vh;
    height: 100vh;
    background: $white;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &::before {
        content: "";
        position: fixed;
        height: 2000px;
        width: 2000px;
        top: 0;
        left: 0;
        background: $lightestblue;
        border-radius: 50%;
        transform: translate(40%, -50%);
        transition: 1.8s ease-in-out;
        z-index: 2;
        // transform: translate(-55%, -50%);
    }
    .right_panel,
    .left_panel,
    .footer,
    .header {
        display: none;
    }
    &:not(.login) {
        .panels_container {
            transform: translateX(150%);
            // .left_panel {
            //     .content {
            //         transform: translateX(-100%);
            //         // 
            //     }
            // }
            .right_panel {
                display: block;
                // background: red;
                // transform: translateX(150%);
            }
        }
    }
    &.login {
        &::before {
            transform: translate(-60%, -45%);
            // transform: translate(-55%, -50%);
        }
        .panels_container {
            transform: translateX(0%);
            .left_panel {
                display: block;
                // .content {
                //     transform: translateX(0%);
                // }
            }
        }
    }
    // overflow: hidden;
}

// Forms
form {
    // z-index: 2;
    margin: 1px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.2s 0.7s;
    .title {
        font-size: 2.2rem;
        color: $deepgrey;
        margin-bottom: 10px;
        text-align: center;
    }
    .input_field {
        position: relative;
        width: 380px;
        background-color: $grey;
        margin: 10px 0;
        height: 55px;
        border-radius: 55px;
        display: grid;
        grid-template-columns: 15% 85%;
        padding: 0 0 0.4rem 0;
        i {
            text-align: center;
            line-height: 55px;
            color: $darkgrey;
            transition: 0.5s;
            font-size: 1.1rem;
        }
        input {
            background: none;
            outline: none;
            border: 0 solid transparent;
            border-radius: 0 55px 55px 0;
            line-height: 1;
            font-weight: 600;
            font-size: 1.1rem;
            color: $dark;
            &::placeholder {
                color: $dark;
                font-weight: 500;
            }
        }
    }
    .err {
        display: inline-block;
        //margin-left: 15px;
        font-weight: bold;
        font-size: 12px;
        // width: 100%;
    }
    .btn {
        width: 250px;
        margin: 9px auto;
        background: transparent;
        color: $green;
    }
}

.form_container {
    position: relative;
    // background: red;
    max-width: 100%;
    height: 99vh;
    margin: 0;
    top: 0;
    left: 0;
    z-index: 1;
    .sign_in_form {
        position: relative;
        width: 500px;
        top: 50%;
        right: -6%;
        transform: translate(50%, -50%);
        transition: 1s 0.7s ease-in-out;
        display: grid;
        grid-template-columns: 1fr;
        padding: 0rem 5rem;
        overflow: hidden;
    }
}

@media (max-width:1400px) {
    .app_container {
        &::before {
            transform: translate(25%, -65%);
            // transform: translate(-55%, -50%);
        }
        &:not(.login) {
            .panels_container {
                transform: translateX(100%);
                .right_panel {
                    display: block;
                    // background: red;
                    // transform: translateX(100%);
                }
            }
        }
        &.login {
            &::before {
                transform: translate(-65%, -50%);
                // transform: translate(-55%, -50%);
            }
        }
    }
    .panels_container {
        .panel {
            &.right_panel {
                padding: 10% 0% 0 0%;
                img {
                    left: 25%;
                    width: 50%;
                }
            }
            &.left_panel,
            &.right_panel {
                transition: all 0.9s ease-in-out;
                transition-delay: 0.9s;
            }
        }
    }
}

@media (max-width:1200px) {
    .app_container {
        &::before {
            transform: translate(30%, -50%);
        }
        &:not(.login) {
            &::before {
                transform: translate(27%, -50%);
            }
            .panels_container {
                .right_panel {
                    h3,
                    p {
                        width: 70%;
                        margin: 15px auto;
                    }
                    img {
                        left: 25%;
                        width: 40%;
                    }
                }
            }
        }
        &.login {
            &::before {
                transform: translate(-73%, -50%);
            }
            .panels_container {
                .panel {
                    &.left_panel {
                        padding: 10% 0% 0 0%;
                        p {
                            width: 70%;
                            margin: 0 auto;
                        }
                        img {
                            left: 25%;
                            width: 40%;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:920px) {
    .panels_container {
        position: absolute;
        height: fit-content;
        max-width: 100%;
        top: 0;
        right: 0;
        background: $lightestblue;
        border-radius: 50% 0 0 0;
        h3 {
            font-weight: 600;
            line-height: 1;
            font-size: 1.3rem;
        }
        p {
            font-size: 0.75rem;
            padding: 0.3rem 0;
        }
        .panel {
            &.left_panel {
                padding: 1rem 10%;
                img {
                    width: 100px;
                    height: auto;
                    margin-bottom: 15px;
                }
            }
            &.right_panel {
                // padding: 10% 12% 0 17%;
                padding: 1rem 12px;
                // margin-top: 8%;
                position: relative;
                height: 350px !important;
                // background: red;
                margin: 0 !important;
                img {
                    position: absolute;
                    top: 0%;
                    bottom: 0;
                    left: 5% !important;
                    width: 40%;
                    height: auto;
                    margin-bottom: 10px;
                }
                .content {
                    position: relative;
                    top: 40%;
                    left: 0%;
                    // background: green;
                    padding: 5px 10px;
                }
            }
            &.left_panel,
            &.right_panel {
                transition: all 0.9s ease-in-out;
                transition-delay: 0.9s;
            }
        }
    }
    .app_container {
        &::before {
            position: absolute;
            height: 900px;
            width: 900px;
            top: 0;
            left: 0;
            transition: 1.8s ease-in-out;
            transform: translate(-10%, -65%) !important;
            display: none;
        }
        overflow-y: auto;
        .right_panel,
        .left_panel,
        .footer,
        .header {
            display: none;
        }
        &:not(.login) {
            &::before {
                transform: translate(-20%, 100%) !important;
                clip-path: circle(20% at 20% 50%) !important;
                // transform: translate(-55%, -50%);
            }
            .panels_container {
                // transform: translateY(0%);
                transform: translateX(0%);
                position: relative;
                bottom: 0 !important;
                // .left_panel {
                //     .content {
                //         transform: translateX(-100%);
                //         // 
                //     }
                // }
                .right_panel {
                    display: block;
                    // background: red;
                    // transform: translateX(150%);
                }
            }
        }
        &.login {
            &::before {
                transform: translate(-20%, 95%) !important;
                clip-path: circle(90% at 0% 0%) !important;
                // transform: translate(-55%, -50%);
            }
            .panels_container {
                border-radius: 0% 0 0 0;
                padding: 0% 0;
                .panel {
                    &.left_panel {
                        img {
                            width: 100px !important;
                        }
                    }
                }
            }
        }
    }
    .form_container {
        position: relative;
        // background: red;
        width: 100%;
        height: 100vh;
        .sign_in_form {
            position: relative;
            max-width: 97%;
            // top: 50%;
            margin: 2px auto;
            left: 0%;
            transform: translate(0%, 0%);
            transition: 1s 0.7s ease-in-out;
            display: grid;
            grid-template-columns: 1fr;
            padding: 0rem 5rem;
            overflow: hidden;
        }
    }
}

@media (max-width:915px) {
    .panels_container {
        border-radius: 30% 0 0 0;
        .panel {
            &.right_panel {
                height: 350px !important;
                // background: red;
                margin: 0 !important;
                img {
                    position: absolute;
                    top: -10%;
                    left: 2% !important;
                    bottom: 0;
                    width: 30% !important;
                }
                .content {
                    top: 20%;
                    left: 30%;
                    width: 80%;
                }
            }
            &.left_panel,
            &.right_panel {
                transition: all 0.9s ease-in-out;
                transition-delay: 0.9s;
            }
        }
    }
}

@media (max-width:850px) {
    .panels_container {
        .panel {
            &.right_panel {
                height: 350px !important;
                // background: red;
                margin: 0 !important;
                img {
                    position: absolute;
                    top: -8%;
                    bottom: 0;
                    width: 38% !important;
                }
                .content {
                    top: 20%;
                    left: 20%;
                    width: 90%;
                }
            }
            &.left_panel,
            &.right_panel {
                transition: all 0.9s ease-in-out;
                transition-delay: 0.9s;
            }
        }
    }
}

@media (max-width:780px) {
    .panels_container {
        .panel {
            &.right_panel {
                height: 350px !important;
                // background: red;
                margin: 0 !important;
                img {
                    position: absolute;
                    top: -8%;
                    bottom: 0;
                    width: 28% !important;
                }
                .content {
                    top: 20%;
                    left: 20%;
                    width: 90%;
                }
            }
            &.left_panel,
            &.right_panel {
                transition: all 0.9s ease-in-out;
                transition-delay: 0.9s;
            }
        }
    }
    // .app_container {
    //     &.login {
    //         border-radius: 0% 0 0 0;
    //         .panels_container {
    //             .panel {
    //                 &.right_panel {
    //                     padding: 20% 0% 0 0%;
    //                 }
    //             }
    //         }
    //     }
    // }
}

@media (max-width:299px) {
    .panels_container {
        border-radius: 30% 0 0 0;
        .panel {
            &.right_panel {
                height: 350px !important;
                // background: red;
                margin: 0 !important;
                img {
                    position: absolute;
                    top: -8%;
                    left: 2% !important;
                    bottom: 0;
                    width: 42% !important;
                }
                .content {
                    top: 20%;
                    left: 0%;
                    width: 100%;
                    padding: 0;
                }
            }
            &.left_panel,
            &.right_panel {
                transition: all 0.9s ease-in-out;
                transition-delay: 0.9s;
            }
        }
    }
}