@import './colors';
// Font
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: $grey $lightgrey;
    &::-webkit-scrollbar {
        width: 12px;
    }
    &::-webkit-scrollbar-track {
        background: $lightgrey;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $grey;
        border-radius: 20px;
        border: 3px solid $lightgrey;
    }
}

html,
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

input {
    border-radius: 5px !important;
}

select {
    width: 70%;
    margin: 1px auto;
    text-align: center;
    background: transparent;
    border: 1px solid $arsh;
    option {
        background: white;
        color: grey;
        border: 1px solid $arsh !important;
    }
}

.selection {
    display: flex;
    justify-content: space-around !important;
    align-items: center;
    label,
    select {
        display: block;
    }
}

.radios {
    // background: red;
    margin: 0px 0 20px 0 auto !important;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // background: red;
    // font-size: 14px;
    padding: 0;
    label {
        display: block;
        margin: 0;
    }
    .options {
        // background: green;
        width: 70%;
        margin-top: 0 !important;
        display: flex;
        // justify-content: space-evenly;
        align-items: center;
    }
}

.age_bracket {
    display: flex;
    .info {
        width: 35%;
        background: whitesmoke;
        border-left: transparent !important;
        border-radius: 0 8px 8px 0 !important;
        font-size: 11px;
        text-align: center;
    }
}

.btn {
    min-width: 100px;
    // background-color: #5995fd;
    border: 1px solid $green;
    outline: none;
    height: 49px;
    border-radius: 8px;
    color: $lightgrey;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
        background-color: $green;
        color: $white;
    }
    &.transparent {
        margin: 0;
        background: none;
        border: 2px solid $white;
        width: 130px;
        height: 41px;
        font-weight: 600;
        font-size: 12px;
    }
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    button {
        display: block;
        margin: 10px 0 !important;
    }
}

.panels_container {
    position: fixed;
    height: 100%;
    max-width: 50%;
    top: 0;
    left: 0;
    z-index: 5;
    h3 {
        font-weight: 600;
        line-height: 1;
        font-size: 1.5rem;
    }
    p {
        width: 70%;
        margin: 5px auto;
        font-size: 0.95rem;
        padding: 0.7rem 0;
    }
    .content {
        color: $white;
        transition: transform 0.9s ease-in-out;
        transition-delay: 0.6s;
    }
    .panel {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        text-align: center;
        &.left_panel {
            padding: 3rem 17% 2rem 12%;
            img {
                width: 300px;
                height: auto;
                margin-bottom: 30px;
            }
        }
        &.right_panel {
            // padding: 10% 12% 0 17%;
            padding: 10% 0% 0% 0%;
            // margin-top: 8%;
            position: relative;
            height: 100%;
            img {
                position: absolute;
                bottom: 0%;
                left: 17%;
                width: 70%;
                height: auto;
                margin-bottom: 10px;
            }
        }
        &.left_panel,
        &.right_panel {
            transition: all 0.9s ease-in-out;
            transition-delay: 0.9s;
        }
    }
}

.app_container {
    max-width: 100%;
    // min-height: 100vh;
    height: 100vh;
    background: $white;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &::before {
        content: "";
        position: fixed;
        height: 2000px;
        width: 2000px;
        top: 0;
        left: 0;
        background: $lightestblue;
        border-radius: 50%;
        transform: translate(40%, -50%);
        transition: 1.8s ease-in-out;
        z-index: 2;
        // transform: translate(-55%, -50%);
    }
    .right_panel,
    .left_panel,
    .footer,
    .header {
        display: none;
    }
    &:not(.login) {
        .panels_container {
            transform: translateX(150%);
            .right_panel {
                display: block;
                // background: red;
                // transform: translateX(150%);
            }
        }
    }
    &.login {
        &::before {
            transform: translate(-60%, -45%);
            // transform: translate(-55%, -50%);
        }
        .panels_container {
            transform: translateX(0%);
            .left_panel {
                display: block;
                // .content {
                //     transform: translateX(0%);
                // }
            }
        }
    }
    // overflow: hidden;
}

.header,
.footer {
    // margin-top: 300px;
    // max-height: 350px;
    height: fit-content;
    background: $lightestblue;
    text-align: center;
    padding: 20px;
    h3 {
        font-weight: 600;
        line-height: 1;
        font-size: 1.3rem;
        margin: 10px 0;
    }
    p {
        font-size: 0.75rem;
        padding: 0.3rem 0;
        width: 70%;
        margin: 5px auto;
    }
    .content {
        color: $white;
        transition: transform 0.9s ease-in-out;
        transition-delay: 0.6s;
    }
    img {
        width: 30%;
        height: auto;
    }
}

.header {
    border-radius: 0 0 50px 50px;
}

.footer {
    border-radius: 50px 50px 0 0;
}

// Forms
form {
    // z-index: 2;
    margin: 1px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.2s 0.7s;
    padding: 0 2%;
    .title {
        font-size: 2.2rem;
        color: $deepgrey;
        margin-bottom: 10px;
        text-align: center;
    }
    .input_field {
        position: relative;
        width: 380px;
        background-color: $grey;
        margin: 10px 0;
        height: 55px;
        border-radius: 55px;
        display: grid;
        grid-template-columns: 15% 85%;
        padding: 0 0 0.4rem 0;
        i {
            text-align: center;
            line-height: 55px;
            color: $darkgrey;
            transition: 0.5s;
            font-size: 1.1rem;
        }
        input {
            background: none;
            outline: none;
            border: 0 solid transparent;
            border-radius: 0 55px 55px 0;
            line-height: 1;
            font-weight: 600;
            font-size: 1.1rem;
            color: $dark;
            &::placeholder {
                color: $dark;
                font-weight: 500;
            }
        }
    }
    .err {
        display: inline-block;
        //margin-left: 15px;
        font-weight: bold;
        font-size: 12px;
        text-align: center;
        // width: 100%;
    }
    .btn {
        width: 250px;
        margin: 9px auto;
        background: transparent;
        color: $green;
    }
}

.form_container {
    position: relative;
    // background: red;
    max-width: 100%;
    height: 99vh;
    margin: 0;
    top: 0;
    left: 0;
    z-index: 1;
    .sign_in_form {
        position: relative;
        width: 500px;
        top: 50%;
        right: -6%;
        transform: translate(50%, -50%);
        transition: 1s 0.7s ease-in-out;
        display: grid;
        grid-template-columns: 1fr;
        padding: 0rem 5rem;
        overflow: hidden;
    }
}

.registration_form {
    position: relative;
    max-width: 45%;
    max-height: 100%;
    overflow: auto;
    border-radius: 18px;
    margin: 15px auto;
    // background: red;
    padding: 15px 0 !important;
    margin: 0 20px;
    top: 20px;
    .form_head {
        position: relative;
        .title {
            text-align: center;
            margin-bottom: 5px;
        }
        .err {
            font-weight: bold;
            display: block;
            text-align: center;
            margin-bottom: 30px;
        }
        hr {
            position: absolute;
            bottom: -30%;
            left: 0;
            display: block;
            border: 1px solid $arsh;
            width: 100%;
        }
    }
    .progressbar {
        text-align: center;
        width: 100%;
        display: flex;
        margin-bottom: 30px;
        overflow: hidden;
        color: $lightgrey;
        margin-bottom: 60px;
        .active {
            color: $green;
            &::after,
            &::before {
                background: $green;
            }
        }
        .error {
            color: $red;
            &::after,
            &::before {
                background: $red;
            }
        }
        li {
            display: inline-block;
            list-style-type: none;
            font-size: 12px;
            width: 25%;
            position: relative;
            z-index: 0;
            color: $darkgrey;
            &::after,
            &::before {
                background: $grey;
            }
            &::after {
                content: '';
                width: 100%;
                height: 2px;
                position: absolute;
                left: 0;
                top: 25px;
                z-index: -1;
            }
            &::before {
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                content: ''; //attr(data-icon);
                position: relative;
                width: 50px;
                height: 50px;
                line-height: 45px;
                display: block;
                font-size: 18px;
                color: $white;
                background: $darkgrey;
                border-radius: 50%;
                margin: 0 auto 10px auto;
                padding: 2px;
            }
            &#pr::before {
                content: '\f007';
            }
            &#tr::before {
                content: '\f126';
            }
            &#qz::before {
                content: '\f233';
            }
            &#sm::before {
                content: '\f4fd';
            }
            &#ck::before {
                content: '\f4fc';
            }
        }
    }
    fieldset {
        // background: grey;
        margin: 0 !important;
        width: 100%;
        padding: 15px 10px;
        border-radius: 5px;
        label,
        small.err {
            padding-left: 8px;
        }
        .err {
            font-size: 10px;
        }
    }
    .success {
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin: 25px auto;
        h2 {
            margin: 20px auto;
            font-weight: bold;
        }
        .check {
            display: block;
            font-size: 10vw;
            color: green;
        }
    }
    .btn {
        margin-bottom: 30px;
    }
}

.file_upload {
    display: flex;
    flex-direction: column;
    &.center {
        align-items: center;
        justify-content: center;
    }
    .image_upload {
        position: relative;
        height: 150px;
        width: 150px;
        input {
            display: none;
        }
        .image {
            width: 100%;
            height: 100%;
            border: 3px dashed $deepgrey;
            border-radius: 50%;
            display: flex;
            align-items: center;
            background: transparent;
            overflow: hidden;
            img {
                width: 100%;
                height: auto;
                // border-radius: 50%;
                z-index: 3;
            }
        }
        span {
            display: block;
            position: absolute;
            bottom: 8px;
            right: 10px;
            width: 40px;
            height: 40px;
            // border: 3px solid lightblue;
            background: $dark;
            color: $white;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            z-index: 5;
        }
    }
}

@media (max-width:1400px) {
    .app_container {
        &::before {
            transform: translate(25%, -65%);
            // transform: translate(-55%, -50%);
        }
        &:not(.login) {
            .panels_container {
                transform: translateX(100%);
                .right_panel {
                    display: block;
                    // background: red;
                    // transform: translateX(100%);
                }
            }
        }
        &.login {
            &::before {
                transform: translate(-65%, -50%);
                // transform: translate(-55%, -50%);
            }
        }
    }
    .panels_container {
        .panel {
            &.right_panel {
                padding: 10% 0% 0 0%;
                img {
                    left: 25%;
                    width: 50%;
                }
            }
            &.left_panel,
            &.right_panel {
                transition: all 0.9s ease-in-out;
                transition-delay: 0.9s;
            }
        }
    }
}

@media (max-width:1200px) {
    .app_container {
        &::before {
            transform: translate(30%, -50%);
        }
        &:not(.login) {
            &::before {
                transform: translate(27%, -50%);
            }
            .panels_container {
                .right_panel {
                    h3,
                    p {
                        width: 70%;
                        margin: 15px auto;
                    }
                    img {
                        left: 25%;
                        width: 40%;
                    }
                }
            }
        }
        &.login {
            &::before {
                transform: translate(-73%, -50%);
            }
            .panels_container {
                .panel {
                    &.left_panel {
                        padding: 10% 0% 0 0%;
                        p {
                            width: 70%;
                            margin: 0 auto;
                        }
                        img {
                            left: 25%;
                            width: 40%;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:920px) {
    .selection {
        display: block;
        select {
            width: 100%;
        }
    }
    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .radios {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        .options {
            width: 100%;
        }
    }
    .panels_container {
        display: none;
    }
    .form_container {
        position: relative;
        // background: red;
        width: 100%;
        height: fit-content;
        top: 100px;
        .sign_in_form {
            position: relative;
            max-width: 97%;
            top: 0%;
            margin: 2px auto;
            left: 0%;
            transform: translate(0%, 0%);
            transition: 1s 0.7s ease-in-out;
            display: grid;
            grid-template-columns: 1fr;
            padding: 0rem 5rem;
            overflow: hidden;
        }
    }
    .registration_form {
        position: static;
        max-width: 100%;
        max-height: max-content !important;
        overflow: hidden;
        margin: 15px auto;
        // top: 0px;
    }
    .app_container {
        overflow: auto;
        &::before {
            display: none;
        }
        &:not(.login) {
            .footer {
                display: block !important;
                position: relative !important;
                top: 5%;
            }
            .header {
                display: none;
            }
            .form_container {
                top: 10px;
            }
        }
        &.login {
            .header {
                display: block !important;
                position: relative !important;
            }
            .footer {
                display: none;
            }
        }
    }
}

@media (max-width:780px) {
    .app_container {
        &:not(.login) {
            .footer {
                display: block !important;
                position: relative !important;
                top: 10%;
            }
            .header {
                display: none;
            }
        }
    }
}

@media (max-width:580px) {
    .app_container {
        &:not(.login) {
            .footer {
                display: block !important;
                position: relative !important;
                top: 30%;
            }
            .header {
                display: none;
            }
        }
    }
}

@media (max-width:550px) {
    .app_container {
        &:not(.login) {
            .footer {
                display: block !important;
                position: relative !important;
                top: 5%;
            }
            .header {
                display: none;
            }
        }
    }
}

@media (max-width:450px) {
    .app_container {
        &:not(.login) {
            .footer {
                display: block !important;
                position: relative !important;
                top: 5%;
            }
            .header {
                display: none;
            }
        }
    }
}

@media (max-width:380px) {
    .app_container {
        &:not(.login) {
            .footer {
                display: block !important;
                position: relative !important;
                top: 5%;
            }
            .header {
                display: none;
            }
        }
    }
}

@media (max-width:299px) {
    .app_container {
        &:not(.login) {
            .footer {
                display: block !important;
                position: relative !important;
                top: 8%;
            }
            .header {
                display: none;
            }
        }
    }
    .progressbar {
        text-align: center;
        width: 100%;
        display: flex;
        margin-bottom: 30px;
        overflow: hidden;
        color: $lightgrey;
        margin-bottom: 60px;
        .active {
            color: $green;
            &::after,
            &::before {
                background: $green;
            }
        }
        .error {
            color: $red;
            &::after,
            &::before {
                background: $red;
            }
        }
        li {
            display: block;
            strong {
                display: none;
            }
            &.active,
            &.err {
                strong {
                    display: block;
                    font-size: 8px;
                    margin: 0 !important;
                }
            }
            &::before {
                top: 5px;
                width: 40px !important;
                height: 40px !important;
                padding: 0px !important;
                display: flex !important;
                align-items: center;
                justify-content: center;
            }
        }
    }
}